.card-team-name {
    margin-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: var(--simple-white);
}
.card-team-container {
    margin-top: 50px;
    height: 111px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-team-img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}