.card-team-name {
    margin-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: var(--simple-white);
}

.card-team-container {
    margin-top: 50px;
    height: 111px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-team-img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .card-team {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .card-team-name {
        font-size: 58px;
        padding-top: 35px;
        padding-left: 16px;
    }

    .card-team-container {
        width: 150px;
        height: 150px;
    }

    .card-team-img {
        width: 150px;
        height: 150px;
    }
    
}

@media screen and  (min-width: 1280px) {
    
}