.container {
    min-height: 100vh;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 40px;
    padding-left: 18px;
}

.container-title-text {
    margin-left: 12px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: var(--simple-white);
}

.container-team-image {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
}

.team-img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

.container-information-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-img {
    margin-top: 19px;
    width: 320px;
    height: 210px;
    border-radius: 4px;
}

.container-information {
    padding-top: 20px;
    padding-left: 18px;
}

.type-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: var(--simple-white);
}

.container-description {
    margin-top: 19px;
    width: 336px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--simple-white);
}

.button-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 60px;
    margin: 0 auto;
    margin-top: 19px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
}

.button-redirect-title {
    margin-right: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px; 
    color: var(--simple-white);
}