<div
    class="container">
    <p class="title-item">{{ item?.name }}</p>
    <div class="container-item-image">
        <img 
            *ngIf="item.image !== null; else elseBlock"
            class="item-img" 
            [src]="item.flickr_images ? item.flickr_images : item.image" 
            alt=""
        >
        <ng-template #elseBlock>
            <img 
                class="item-img" 
                src="../../../../assets/icons/noImage.svg" 
                alt="image not found"
            >
        </ng-template>
    </div>
    <a class="button-redirect" [routerLink]="['/team', currentTeam, item.id]">
        <p class="button-redirect-title">Show me more!</p>
    </a>
</div>

