.container {
    width: 320px;
    height: 316px;
    margin: 0 auto;
    margin-top: 40px;
}
.title-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: var(--simple-white);
}

.container-item-image {
    height: 210px;
    width: 320px;
    margin-top: 12px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.item-img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

.button-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 60px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
}

.button-redirect-title {
    margin-right: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px; 
    color: var(--simple-white);
}