.container-start {
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 238px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: var(--simple-white);
}

.subtitle {
    margin-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--simple-white);
}

.button-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 60px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
}

.button-redirect-title {
    margin-right: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px; 
    color: var(--simple-white);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 62px;
    }
    
    .subtitle {
        font-size: 32px;
        margin-top: 50px;
    }
    
    .button-redirect {
        width: 472px;
        height: 60px;
    }
    
    .button-redirect-title {
        font-size: 30px;
    }
}

@media screen and  (min-width: 1280px) {
    .title {
        font-size: 82px;
    }
    
    .subtitle {
        font-size: 64px;
        margin-top: 80px;
    }
    
    .button-redirect {
        width: 800px;
        height: 100px;
    }
    
    .button-redirect-title {
        font-size: 52px;
    }
}