.title {
    padding-top: 80%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: var(--simple-white);
}

.subtitle {
    margin-top: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--simple-white);
}

.button-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 273px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30%;
    background-color: var(--secondary-color);
    border-radius: 4px;
    text-decoration: none;
}

.button-redirect-title {
    margin-right: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px; 
    color: var(--simple-white);
}