<div class="container">
    <div class="wrapper-space">
        <div class="wrapper-space-top">
            <img src="../../../../assets/icons/404.svg" alt="">
            <img src="../../../../assets/icons/404.svg" alt="">
        </div>
        <div class="wrapper-space-bot">
            <img src="../../../../assets/icons/404.svg" alt="">
        </div>
    </div>
    <p class="container-text">404 Error</p>
    <a class="button-redirect" [routerLink]="['/']">
        <p class="button-redirect-title">Go home</p>
        <img 
            class="icon-sm"
            src="../../../../assets/icons/rocket.svg" 
            alt="rocket icon"
        >
    </a>
</div>

<p class="footer-text">Developed by @alvertoayalaR</p>
